.topnav {
    background-color: #333333;
    overflow: hidden;
    font-family: arial;
    padding: 0;
}

.topnav a {
    float: left;
    color: #6dd5ed;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #99f2c8;
    color: black;
}
 .topnav a:active{
    background-color: white;
 }
 .topnav .login-sign-up{
   float: right;
   color: #6dd5ed;
   text-align: center;
   padding: 14px 25px;
   text-decoration: none;
   font-size: 17px;
 }
/* Top NAV BAR*/
